@{
    ViewData["Title"] = "Avondale Teachers";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Avondale Teachers</h1>
    <p>This is the page to learn about what avondale teachers is about</p>
</div>
