@{
    ViewData["Title"] = "Home Page";
}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



<body>
    <!-- Add a background color and large text to the whole page -->
    <div class="w3-sand w3-grayscale w3-large">

        <!-- About Container -->
        <div class="w3-container" id="about">
            <div class="w3-content" style="max-width:700px">
                <h1 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Avondale College Web Application</span></h1>
                <p> NAU MAI, HAERE MAI </p>
                <p> Avondale College is a high performing, diverse, co-educational secondary school located ten minutes from central Auckland. Our school motto, Kohia ngā Taikākā, establishes our commitment to provide opportunities for all students to strive for academic, sporting and creative excellence, within an aspirational and caring environment. </p>
                <p> Our HEART values: Honesty, Endeavour, Atawhai, Respect and Tenacity, provide the foundation for our community. These shared values are the basis for student-focused relationships which allow our large school to have a strong family feel. </p>
                <p> Students are at the HEART of all that we do, and our committed, expert teachers work to support students to reach their potential both within and beyond the classroom. Through our teaching and learning programmes, students are encouraged to communicate effectively, work independently, question, inquire and develop creative solutions. </p>

            </div>
        </div>
</body>
