@{
    ViewData["Title"] = "Math Page";
}




<style>



    .leftcol {
        border: 5px solid black;
        padding-top: 50px;
        padding-right: 30px;
        padding-bottom: 50px;
        padding-left: 80px;
    }

    .sidenav {
        position: fixed;
        top: 25%;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        z-index: 1;
        float: left;
        padding: 20px 20px 20px 20px;
    }

        .sidenav a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
        }

            .sidenav a:hover {
                color: #fbdf00;
            }

    * {
        box-sizing: border-box;
    }

    #myInput {
        background-image: url('/css/searchicon.png');
        background-position: 10px 12px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #myUL {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }


        #myUL li a {
            border: 1px solid #ddd;
            margin-top: -1px; /* Prevent double borders */
            background-color: #f6f6f6;
            padding: 12px;
            text-decoration: none;
            font-size: 18px;
            color: black;
            display: block
        }

            #myUL li a:hover:not(.header) {
                background-color: #eee;
            }


    /* Change the link color on hover */
    li a:hover {
        background-color: #555;
        color: white;
    }

    body {
        font-family: "Lato", sans-serif;
    }



    .main {
        margin-left: 160px; /* Same as the width of the sidenav */
        font-size: 28px; /* Increased text to enable scrolling */
        padding: 0px 10px;
    }

    #grad1 {
        background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    }


</style>

<body>



    <div class="container-fluid">

        <div class="container-fluid" style="z-index:0; float:right">
            <div class="text-center">

            </div>
            <div id="grad1" style="text-align:center;margin:auto;color:#888888;font-size:80px;font-weight:bold">
                Math Department
            </div>



            <div class="row">
                <div class="col leftcol" style="background-color:navajowhite;">
                    <h2>Welcome to the Mathematics and Statistics department!</h2>

                    <h4>CLASS PAGES AND OTHER ONLINE RESOURCES</h4>

                    <p>Looking for resources and materials from your class?</p>
                    <p>Go to the online learning page to find links to helpful websites and online tools, and your class page.</p>

                </div>

                <div class="col leftcol" style="background-color:lavender;">

                    <h2>Latest news</h2>

                    <p>The myimaths password is now <u>heart</u></p>

                    <h1>GENERAL TUTORIALS</h1>
                    <p>
                        Tuesday and Thursday after school (3:30 pm - 4:30 pm) in D23
                        Need some help with what you are learning in class, homework, or preparation for an upcoming assessment?
                        Then come along to the mathematics and statistics tutorials and our friendly teachers will support you with your learning :-)
                    </p>
                </div>
            </div>
        </div>

        <div>
            <div class="sidenav">
                <a href="NCEA">NCEA</a>
                <a href="Teachers">Teachers</a>
                <a href="Pathways">Pathways</a>
                <a href="contact">Contact</a>
                <a href="Onlinelearning">Online Learning</a>
                <a href="Juniors">Junior</a>
                <a href="CIE">CIE</a>
                <a href="Resources">Resources</a>
                <a href="Support">Support</a>
                <a href="Careers">Careers</a>
                <a href="AvcolMathletes">Avcol Mathletes</a>
                <a href="Revison">Revision</a>
            </div>

        </div>
    </div>

</body>

