@{
    ViewData["Title"] = "Math Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the math page</h1>
 </div>

<div>
    <p>page is to help the parents and student understand what avondale college math is about, to also show the different teachers and exprience they have</p> 
</div>

