@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Phyical Education</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<body>



    <div class="container-fluid">

        <div class="container-fluid" style="z-index:0; float:right">
            <div class="text-center">

            </div>
            <div id="grad1" style="text-align:center;margin:auto;color:#888888;font-size:80px;font-weight:bold">
                Math Department
            </div>



            <div class="row">
                <div class="col leftcol" style="background-color:navajowhite;">
                    <h2>Welcome to the Mathematics and Statistics department!</h2>

                    <h4>CLASS PAGES AND OTHER ONLINE RESOURCES</h4>

                    <p>Looking for resources and materials from your class?</p>
                    <p>Go to the online learning page to find links to helpful websites and online tools, and your class page.</p>

                </div>

                <div class="col leftcol" style="background-color:lavender;">

                    <h2>Latest news</h2>

                    <p>The myimaths password is now <u>heart</u></p>

                    <h1>GENERAL TUTORIALS</h1>
                    <p>
                        Tuesday and Thursday after school (3:30 pm - 4:30 pm) in D23
                        Need some help with what you are learning in class, homework, or preparation for an upcoming assessment?
                        Then come along to the mathematics and statistics tutorials and our friendly teachers will support you with your learning :-)
                    </p>
                </div>
            </div>
        </div>
        </div>
        </body>