@{
    ViewData["Title"] = "Subjects";
}



<div class="text-center">
    <h1 class="display-4">Subjects</h1>
    <p>Learn about subjects your children can take and the teachers </p>
</div>





<style>

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto;
        grid-gap: 1px;
        padding: 10px;
    }

        .grid-container > div {
            text-align: center;
            padding: 20px 0;
            font-size: 30px;
        }


   
</style>





<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".item1").click(function () {
                location.replace("Math")
            });

            $(".item2").click(function () {
                location.replace("English")
            });

            $(".item3").click(function () {
                location.replace("PhyicalEdu")
            });

            $(".item4").click(function () {
                location.replace("Sciences")
            });

            $(".item5").click(function () {
                location.replace("Technologies")
            });
        });
    </script>
</head>

<div class="grid-container">
    <div class="item1" style="background-image:url('~/img/image1.png')">Math</div>
    <div class="item2">English</div>
    <div class="item3">Phyical Education</div>
    <div class="item4">Sciences</div>
    <div class="item5">Technologies</div>
</div>

